<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
</head>
<body>
    <h2> 회원가입 </h2>
    <form class="signup-form" action="/signup" method="post">
        <label>
            이메일
            <input type="email" name="email" placeholder="example@exam.com" /> 
        </label>
        <label>
            비밀번호
            <input type="password" name="password" placeholder="****" /> 
        </label>
        <button> 회원가입 </button>
    </form>
</body>
</html>